<nav class="navbar navbar-expand-lg bg-dark navbar-dark" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="index.html">Tutorías</a
    ><button
      data-bs-toggle="collapse"
      data-bs-target="#navbarResponsive"
      class="navbar-toggler navbar-toggler-right"
      type="button"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto text-uppercase">
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">Acerca de</a>
        </li>
        <li
          *ngIf="userActual && userActual.tipo === 'Estudiante'"
          class="nav-item"
        >
          <a
            *ngIf="userActual && userActual.tutor"
            class="nav-link"
            routerLink="/request"
            >Solicitar</a
          >
        </li>
        <li
          *ngIf="userActual && userActual.tipo !== 'Admin' && userActual.tutor"
          class="nav-item"
        >
          <a class="nav-link" routerLink="/calendar">Calendario</a>
        </li>

        <li *ngIf="!userActual" class="nav-item">
          <a class="nav-link" routerLink="/login">Iniciar sesion</a>
        </li>
        <li *ngIf="userActual" class="nav-item">
          <a class="nav-link" routerLink="/profile">Mi perfil</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div *ngFor="let tutoria of tutorias" class="list-group m-4">
  <a
    *ngIf="
      tutoria.estado !== 'Pendiente' && tutoria.profesor?.id === userActual.id
    "
    class="list-group-item list-group-item-action flex-column align-items-start"
  >
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ tutoria.materia }}</h5>
      <small>{{ tutoria.estado }}</small>
    </div>
    <p class="mb-1">
      {{ tutoria.estudiante?.nombres }} {{ tutoria.estudiante?.apellidos }}
    </p>
    <small class="text-muted"
      >{{ tutoria.dia }} de {{ tutoria.mes }} - {{ tutoria.hora }}H</small
    >
    <button
      *ngIf="tutoria.estado !== 'Culminada' && tutoria.estado !== 'Rechazada'"
      (click)="culminarTutoria(tutoria.id!)"
      class="float-end btn btn-warning"
    >
      Culminar
    </button>
  </a>
</div>
